img{
    display: block;
    margin: auto;
    margin-bottom: 45px;
    border-radius: 30px;
}

#encabezado{
    display:block;
    margin: 25px;
    padding: 1rem;
    margin-top: 1rem;
    border: 4px salmon;
    text-align: center;
    border-radius: 30px;
    background-color: rgb(255, 242, 225);
    box-shadow: 0px 0px 25px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#bloque1{
    display:block;
    margin: 450px;
    padding: 1rem;
    margin-top: 2rem;
    width: max-(20%,600px);
    border: 4px salmon;
    text-align: center;
    border-radius: 30px;
    background-color: rgb(255, 242, 225);
    box-shadow: 0px 0px 25px black;
    overflow: visible;
}

#lista{
    display: block;
    margin: 50px;
    padding: auto;
    margin-top: auto;
}

.grande{
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
}

.big{
    font-size: 24px;
}

.left{
    text-align: left;
}

body {
    background: linear-gradient(90deg, rgb(194, 255, 179), rgb(255, 189, 107));
    height: fit-content;
}